.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0 0 0;
}

.banner-img {
  width: 100%;
  height: fit-content;
}

.banner-img img {
  width: 100%;
  height: 40svh;
  object-fit: cover;
  object-position: center center;
}

.banner-body {
  width: 100%;
  padding: 2rem 2rem 4rem 2rem;
}

.banner-body p {
  color: white;
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.75em;
}

.banner-body .banner-cta {
  border: none;
  background-color: #6d4f45;
  padding: 1rem 4rem;
  margin-top: 2rem;
  color: white;
  /* font-family: Outfit; */
  border-radius: 10px;
  font-size: 1.25rem;
  transition: all ease 500ms;
}

.banner-body .banner-cta:hover {
  background: #af7a5b;
  cursor: pointer;
  transition: all ease 500ms;
}

@media (min-width: 1200px) {
  .banner {
    display: flex;
    flex-direction: row;
    margin: 4rem 0 0 0;
  }

  .banner-img {
    width: 60%;
    margin: 4rem 0 6rem 0;
  }

  .banner-img img {
    height: 60svh;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .banner-body {
    width: 40%;
    padding: 4rem 2rem;
  }

  .banner-body .banner-cta {
    margin-top: 6rem;
    width: fit-content;
  }
}

@media (min-width: 1600px) {
  .banner {
    margin: 6rem 0 0 0;
  }

  .banner-body {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .banner-body p {
    font-size: 1.5rem;
  }
}