.tofadein {
  opacity: 0;
}

.fadein {
  opacity: 0;
  animation: fadein;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}