/* ------------ CARD ------------ */
.gatto-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* immagine */
.gatto-immagine {
  overflow: hidden;
  border-radius: 40px;
  width: 100%;
  max-width: 300px;
  height: fit-content;
  margin: 0 auto -1rem auto;
}

.gatto-immagine img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: top center;
}

.gatto-card:hover .gatto-immagine > img,
.gatto-card:hover .gatto-immagine .swiper-slide-active img {
    transition: all ease 500ms;
  scale: 1;
}

/* body */
.gatto-body {}

.teaser-label {
  /* font-family: Lobster; */
}

.gatto-title {
  margin: 1rem 0 0 0;
  text-align: center;
}

.gatto-peso,
.gatto-razza-k,
.gatto-colore,
.gatto-data {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-bottom: .25rem;
}

@media (min-width: 1200px) {
  .gatto-card {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .gatto-immagine {
    width: 45%;
    max-width: unset;
    border-radius: 40px 0 40px 40px;
  }

  .gatto-body {
    width: 55%;
  }

  .gatto-card:hover .gatto-immagine > img,
  .gatto-card:hover .gatto-immagine .swiper-slide-active img {
    scale: 1.1;
    transition: all ease 500ms;
  }

  .gatto-title {
    margin: 0 0 1rem 0;
    text-align: left;
  }
}


.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #fadb9e;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: 1.5rem;
  text-shadow: 1px 1px 10px #423932;
  font-weight: 700;
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  box-shadow: 1px 1px 10px #423932; 
}

.swiper .swiper-pagination-bullet-active {
  background: #fadb9e;
}
