
.grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
  margin-top: 3rem;
}

.card {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.card.img-right .card-title {
  text-align: right;
}
/* .card.img-right .card-title .subtitle {
  color: #fbc474;
} */
.card.img-right .card-body {
  text-align: right;
}
.card.img-right .card-img {
  margin: 0 auto -6rem 0;
}
.card .card-title h4 {
  font-size: 1.75rem;
  margin: 0;
  font-weight: 500;
}
.card .card-title .subtitle {
  font-family: Lobster;
  font-size: 1.5rem;
  /* margin: .5rem 0 0 0; */
  color: #af7a5b;
  font-weight: 500;
}
.card .card-body {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 300;
}
.card .card-body p {
  margin: 1rem 0;
}
.card .card-img {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 0;
  margin: 0 0 -6rem auto;
}
.card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease 500ms;
}
.card .card-img:hover img {
  scale: 1.1;
  transition: all ease 500ms;
}
.card .card-content {
  position: relative;
  z-index: 1;
  width: 100%;
}

@media (min-width: 1200px) {
  .card {
    width: 80%;
    flex-direction: row;
    gap: 4rem;
  }
  /* .card:not(:last-child) {
    margin: 0 0 -4rem 0;
  } */
  .card .card-title h4 {
    font-size: 2.5rem;
  }
  .card .card-title .subtitle {
    font-size: 1.8rem;
  }
  .card.img-right {
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: 0;
  }
  .card.img-right .card-img {
    margin: 0;
  }
  .card .card-img {
    width: 45%;
    height: auto;
    /* border-radius: 40px; */
    border-radius: 99%;
    margin: 0;
    aspect-ratio: 1;
  }
  .card .card-content {
    width: calc(100% - 250px - 2rem);
  }
  .card .card-body {
    font-size: 1.2rem;
  }
}
@media (min-width: 1600px) {
  .grid {
    padding: 0 10%;
  }
}