.kittens-view {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.kittens-view .title h2 {
  font-size: 3rem;
  text-align: center;
  line-height: 1em;
  position: relative;
  z-index: 1;
}

.kittens-view .title h2 span {
  margin-right: 0.1em;
  /* font-family: Lobster; */
  color: #af7a5b;
}

.yellow {
  position: relative;
}

.yellow::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #fadb9e;
  top: 70%;
  left: -50%;
  translate: -50vw -50%;
  width: 200vw;
  height: 150px;
  z-index: 0;
  rotate: -8deg;
}


.kittens-view .gatto-card {
  margin-bottom: 1rem;
}

.kittens-view .gatto-immagine {
  border-radius: 40px 40px 0 0;
  max-width: 350px;
}

/* .kittens-view .gatto-body {
  padding: 0 1rem;
} */

.kittens-view .gatto-title {
  margin: 1rem 0;
}

@media (min-width: 1200px) {
  .yellow {
    margin: 4rem 0;
  }

  .kittens-view .title h2 {
    font-size: 4rem;
  }

  .yellow::before {
    height: 200px;
    rotate: -4deg;
    top: 70%;
  }

  .kittens-view .gatto-card {
    gap: 2rem
  }

  .kittens-view .gatto-immagine {
    margin: 0;
    border-radius: 40px;
  }
}

@media (min-width: 1400px) {
  .kittens-view {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .yellow::before {
    top: 80%;
  }

  .kittens-view header {
      grid-column: span 2;
  }

  .kittens-view .gatto-card {
    gap: 1rem;
  }
}

@media (min-width: 1600px) {
  .yellow::before {
    top: 85%;
  }

  .kittens-view .gatto-card {
    gap: 2rem;
  }
}