/* paws */

@media (max-width: 1199px) {
  .paw {
    display: none
  }

  ;
}

.paw {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3.5rem;
  aspect-ratio: 1;
  z-index: 2;
}

@media (min-width: 1400px) {
  .paw {
    width: 4.5rem;
  }
}

@media (min-width: 1600px) {
  .paw {
    width: 5rem;
  }
}


#paw-1 {
  left: 37%;
  rotate: 18deg;
}

#paw-2 {
  left: 43%;
  rotate: 21deg;
  bottom: 2%;
}

#paw-3 {
  left: 40%;
  rotate: 12deg;
  bottom: 11%;
}

#paw-4 {
  left: 39%;
  rotate: 44deg;
  bottom: -9%;
}

/* ----------------------------------- */

.accordion-cats .paw {
  bottom: unset;
  left: unset;
  top: 0;
  right: 0;
}

#paw-5 {
  right: 7%;
  rotate: -20deg;
  top: 0;
}

#paw-6 {
  right: 4.2%;
  rotate: -29deg;
  top: 7%;
}

#paw-7 {
  right: -2%;
  rotate: -28deg;
  top: 13%;
}

#paw-8 {
  right: -1%;
  rotate: -18deg;
  top: 3%;
}