.scacchiera {
  display: flex;
  flex-direction: column;
}

.kings,
.queens {
  padding: 2rem 1rem 4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.kings header h2,
.queens header h2 {
  margin: 2rem 0 1rem 0;
  font-size: 5rem;
  font-family: Lobster;
}

/* titoli */
/* .kings header,
.queens header {
  position: relative;
} */

/* zampette */
/* .queens .paw-1,
.kings .paw-1 {
  position: absolute;
  top: 30%;
  right: 0;
  rotate: 70deg;
}

.queens .paw-2,
.kings .paw-2 {
  position: absolute;
  top: 10%;
  right: 8%;
  rotate: 60deg;
}

.queens .paw-3,
.kings .paw-3 {
  position: absolute;
  top: 60%;
  right: 15%;
  rotate: 100deg;
}

.queens .paw-4,
.kings .paw-4 {
  position: absolute;
  top: 12%;
  right: 23%;
  rotate: 70deg;
} */

/* variazioni KINGS */
.kings header h2,
.kings .gatto-title,
.kings .gatto-descrizione *,
.kings .teaser-label,
.kings .teaser-value {
  color: white;
}

.kings .gatto-razza * {
  color: #fadb9e;
}

/* variazioni QUEENS */
.queens {
  background-color: white;
}

.queens header h2 {
  color: #423932;
}

@media (min-width: 1200px) {
  .scacchiera {
    flex-direction: row;
  }

  .scacchiera>div {
    width: 50%;
  }

  .kings,
  .queens {
    gap: 2rem;
    padding: 2rem 2rem 4rem 2rem;
  }

  .kings header h2,
  .queens header h2 {
    margin: 0 0 2rem 0;
  }
}

@media (min-width: 1600px) {
  .kings {
    padding-left: calc(10vw + 1rem);
  }
  .queens {
    padding-right: calc(10vw + 1rem);
  }
}