:root * {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.only-desk {
  display: none;
}

.onlyl-mobile {
  display: block;
}

@media (min-width: 1200px) {
  .only-desk {
    display: block;
  }

  .only-mobile {
    display: none;
  }
}

body.toolbar-fixed {
  padding-top: 0 !important;
  margin-top: 39px !important;
}

body.toolbar-fixed .hero::after {
  top: 39px;
}

body.toolbar-fixed #toolbar-bar {
  position: fixed !important;
  top: 0 !important;
  z-index: 101 !important;
}

body.toolbar-fixed #toolbar-bar li {
  margin: 0;
  font-family: unset;
}

.content {
  background: white;
  font-family: Outfit;
}

.container {
  padding: 1rem;
}



@media (min-width: 1200px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}






.anchor {
  visibility: hidden;
  position: absolute;
  top: -100px;
  display: block;
}

.scacchiera,
.banner {
  position: relative;
}