p,
li,
.text,
.text * {
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.5em;
  /* color: #423932; */
  font-family: Outfit;
  font-weight: 300;
}

li.menu-link {
  margin: 0;
}

.teaser-value,
.teaser-label {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  line-height: 1.2em;
  /* font-family: Outfit; */
}

.small-title {
  font-size: 1.75rem;
  font-weight: 500;
}

.big-title {
  font-size: 2rem;
  font-weight: 500;
}

.big-subtitle,
.small-subtitle {
  font-size: 1.5rem;
  /* font-family: Lobster; */
}

@media (min-width: 1200px) {
  .small-title {
    font-size: 2rem;
  }

  .big-title {
    font-size: 2.5rem;
  }

  .big-subtitle {
    font-size: 1.8rem;
  }

  p,
  li,
  .text,
  .text * {
    font-size: 1.2rem;
  }

  .teaser-value,
  .teaser-label {
    font-size: 1.2rem;
  }

  .small {
    font-size: 1rem;
  }
}

@font-face {
  font-family: Outfit;
  font-weight: 100;
  src: url(../fonts/Outfit/static/Outfit-ExtraLight.ttf);
}

@font-face {
  font-family: Outfit;
  font-weight: 300;
  src: url(../fonts/Outfit/static/Outfit-Light.ttf);
}

@font-face {
  font-family: Outfit;
  font-weight: 400;
  src: url(../fonts/Outfit/static/Outfit-Regular.ttf);
}

@font-face {
  font-family: Outfit;
  font-weight: 500;
  src: url(../fonts/Outfit/static/Outfit-SemiBold.ttf);
}

@font-face {
  font-family: Outfit;
  font-weight: 700;
  src: url(../fonts/Outfit/static/Outfit-Bold.ttf);
}

/* @font-face {
  font-family: Petit;
  src: url(../fonts/Petit_Formal_Script/PetitFormalScript-Regular.ttf);
} */

@font-face {
  font-family: Lobster;
  src: url(../fonts/Lobster/Lobster-Regular.ttf);
}

/* COLORS */

.lighter {
  color: #fadb9e;
}

.light {
  color: #fbc474;
}

.medium {
  color: #af7a5b;
}

.dark {
  color: #6d4f45;
}

.darker {
  color: #423932;
}

.bg-lighter {
  background-color: #fadb9e;
}

.bg-light {
  background-color: #fbc474;
}

.bg-medium {
  background-color: #af7a5b;
}

.bg-dark {
  background-color: #6d4f45;
}

.bg-darker {
  background-color: #423932;
}

.lobster,
.lobster * {
  font-family: Lobster;
}

.outfit,
.outfit * {
  font-family: Outfit;
}
